.Counter {
  background: rgba(8, 255, 140, 0.089);
  box-shadow: 0 8px 32px 0 rgba(0, 255, 234, 0.349);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 500px;
  height: 150px;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  margin: 2rem auto;

}

